
  
  .Home .Home-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
    text-align: center;
    color: #000000;
  }
  
  .Home .Home-overlay h1 {
    font-size: 36px;
    padding-bottom: 20px;
    display: flex;
    justify-content: top;
    align-items: top;
    
  }
  
    .Home .Home-overlay h1 {
      font-size: 60px;
      align-items: center;
      justify-content: top;
    }
  
    .Home .Home-overlay p {
      font-size: 10px;

    }
  