/* body{
    background-color: rgb(32, 99, 116);
}
.App-header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

} */
.head{
    padding-top: 12vh;
    text-align: center;
    display: flex;
    float: center;
    align-items: center;
    justify-content: center;
}
/* .p1
{
    background-image: url("C:\Users\Shreyas.P.P\OneDrive\Documents\GitHub\React_IRC\Day3\myapp\src\Assets\Img\denji.jpg");
} */